<html>
  <head>
    <title>Testbed GUI</title>
    <link href="/static/style.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
  </head>


  <body>

      <nav>
          <div class="page-title">
              Scenario Manager
          </div>
      </nav>

      <div id="container">

          <!-- Scenario block  -->
          <div id="scenarios" class="block">

              <div class="block-title">
                  Scenarios
              </div>


              <div id="block-content">
                  <hr></hr>
                  <ul id="list">
                     <li>
                         <div id="list-item-content">
                             <div class="scn-list-item-txt">
                                Test scenario 1
                             </div>

                             <div class="list-item-buttons">
                                 <button id="button" type="button">Start</button>
                             </div>
                         </div>
                     </li>

                     <li>
                         <div id="list-item-content">
                             <div class="list-item-txt">
                                Test scenario 2
                             </div>

                             <div class="list-item-buttons">
                                 <button id="button" type="button">Start</button>
                             </div>
                         </div>
                     </li>

                  </ul>
              </div>
          </div>

      </div>

      <!-- Agents block  -->
      <div id="overview-agents" class="block">

          <div class="block-title">
              Agents
          </div>


          <div id="block-content">
              <hr></hr>

               <a href="God"><button class="green-btn">God view</button></a>

              <ul id="list">
                 <li>
                     <div id="list-item-content">
                         <div class="list-item-txt">
                            Agent 1
                         </div>

                         <div class="list-item-buttons">
                             <button id="button" type="button">View</button>
                         </div>
                     </div>
                 </li>

                 <li>
                     <div id="list-item-content">
                         <div class="list-item-txt">
                            Agent 2
                         </div>

                         <div class="list-item-buttons">
                             <button id="button" type="button">View</button>
                         </div>
                     </div>
                 </li>

              </ul>
          </div>
      </div>


  </body>


  <script src="/static/scenario_manager/logic.js"></script>
</html>
