.idea/
old/
agents/__pycache__/
agents/capabilities/__pycache__/
environment/__pycache__/
environment/actions/__pycache__/
environment/objects/__pycache__/
environment/sim_goals/__pycache__/
*.pyc
*.stackdump
__pycache__/

generalStructure.log

logData.log

*.log

log_data/

# ignore generated documentation files 
docs/build
docs/source/sections/_generated_autodoc