# Ignore pycharm project folder
.idea/

# Ignore build related folders and files
build/
dist/
matrx.egg-info/
.pypirc
*.pyc
*.stackdump
pypi_tokens.txt

# Ignore logging data
log_data/
*.log

# Ignore generated documentation files
docs/build
docs/source/sections/_generated_autodoc
