html {
    height: 100%;
}

#grid {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#grid .tile,
#grid .tile .shape {
    position:absolute;
}


/* Toggle the start button to pause or vice versa if pressed */
.hidden {
    display: none;
}