html {
    height: 100%;
}

#grid {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#grid .tile,
#grid .object,
#grid .object .shape {
    position:absolute;
}


/* Toggle the start button to pause or vice versa if pressed */
.hidden {
    display: none;
}

.agent_menu_preview {
    display: inline-block;
    margin-right: 10px;
}

.god_preview {
    width: 39px;
    display: inline-block;
}