<html>
    <head>
        <link rel="shortcut icon" href="#" />
        <title>Agent {{ id }}</title>
    </head>
    <body>
        <div>
            Below will come the grid
        </div>
        <canvas id="grid" width="400" height="400"></canvas>
    </body>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="/static/js/agent.js"></script>
    <!-- <script src="/static/js/triangle.js"></script> -->
</html>
